[submodule "module/jni/elfio"]
	path = module/jni/elfio
	url = https://github.com/serge1/ELFIO.git
[submodule "module/jni/libcxx"]
	path = module/jni/libcxx
	url = https://github.com/topjohnwu/libcxx.git
[submodule "module/jni/aosp_fd_utils"]
	path = module/jni/aosp_fd_utils
	url = https://github.com/snake-4/aosp_fd_utils.git
[submodule "module/jni/aosp_system_properties"]
	path = module/jni/aosp_system_properties
	url = https://github.com/snake-4/aosp_system_properties
